include ./partials/header.pug
.login-page
  .form 
    h3 User Profile       
    h4 Welcome #{name}
    form(action='/profile', method='post')        
      input#user_name(type='text', name='user_name', value=name)        
      textarea#address(name='address') #{address}        
      input#Mobile(type='text', name='email', value=email)        
      input#Mobile(type='text', name='Mobile', value=mobile)        
      input#password(type='text', name='password', value=password)              
      input#submit(type='submit', name='submit' value="Update")
      input#uid(type='hidden', name='uid' value=session_val)
      a(href='/') Logout
      
